/*----------------
    Google Fonts 
 -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Open+Sans&family=Poppins:wght@500&family=Roboto&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

/*-------------------
     Primary Button
--------------------- */
.primary-btn{
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 13px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.primary-btn:hover{
    background-color: #fa6604;
    box-shadow: 10px 10px 10px 1px #42424275;
}


/*--------------------
     header section 
----------------------*/
header{
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px ;
    box-shadow: 3px 5px 10px 1px #42424275;
}

/*----------------------
     nav bar section
------------------------ */
.company-name{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.nav-bar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 100px;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-items li{
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

/*--------------------
     Banner section
---------------------- */
.banner-section{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.banner-info{
    text-align: center;
    margin: 0 auto;
    width: 862px;
    margin-bottom: 32px;
}

.banner-header{
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin-bottom: 32px;
}

.banner-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.banner-btn{
    margin-bottom: 50px;
    text-align: center;
}

.banner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner img{
    width: 80%;
    margin-bottom:45px ;
}

/*-----------------------
     Our Future Section 
-------------------------*/
.our-future-section{
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 73px;
    margin-bottom: 130px;
}

.our-future-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.our-future-img img{
    width: 342px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 1px #7b7979;
}

.our-future-header{
    margin-bottom: 24px;
}

.our-future-header .dark-2{
    color:#727272 ;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}

.our-future-header .dark-1{
    font-size: 45px;
    color: #131313;
    font-weight: 700;
}

.our-future-header .orange-color{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.our-future-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

/*-----------------------
     Experience Section
------------------------- */
.experience-section{
    display: flex;
    gap: 54px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.experience-info{
    width: 586px;
}

.experience-header-box{
    display: flex;
    gap: 21px;
}

.experience-header-design{
    background-color: #FF900E;
    width: 5px;
    height: 106px;

}

.experience-header{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 24px;
}

.experience-header-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

/*-----------------------
    Experience Sub Info
-------------------------*/
.sub-info-boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-info-box{
    padding: 30px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px 1px #42424253;
}

.experience-sub-header{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.experience-sub-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/*-----------------------------
     experience image section
------------------------------- */
.experience-img{
    width: 800px;
    height: 1059px;
    position: relative;
   
    
}

.experience-img img{
    width: 708px;
    height: 982px;
    object-fit: none;
    float: right;
    position: relative;
    border-radius: 8px;
}

.experience-btn{
    font-size: 65px;
    font-weight: 700;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 42px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}

.experience-btn:hover{
    background-color: #fa6604;
    box-shadow: 10px 10px 10px 1px #42424275;
}

.experience-btn .experience{
    font-weight: 500;
    font-size: 25px;
}


/*-------------------------
     Some Facts Section 
---------------------------*/
.some-facts{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}


.some-facts-header{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.some-facts-description{
    color: #727272;
    width: 542px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.our-acquirements{
    width: 80%;
    margin: 0 auto;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 100px;
    align-items: center;

}

.our-acquire{
    text-align: center;
    width: 241px;
    height: 241px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: width 2s, height 2s, transform .80s;
}

.our-acquire:hover{
    background-color: #f9f8f8;
    width: 280px;
    height: 280px;
    transform: rotate(360deg);
    border: 4px solid #fa6604;
}

.our-acquire img{
    width: 36.5px;
    margin-bottom: 9.5px;
}

.our-acquire h2{
    color:#424242 ;
    font-weight: 600;
    font-size: 45px;
}

.our-acquire p{
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}


/*--------------------------
    Specification Section
----------------------------*/
.specifications-section{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

.specifications-section-header{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
    
}

.specification-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.specification-box{
    border-radius: 8px 8px 0 0;
    box-shadow: 10px 8px 10px 2px #7b7979;
}

.specification-box img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.specification-box-info{
    padding: 20px;
}

.specification-header{
    color: #131313;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 18px;
}

.specification-box-info .by{
    color: rgb(244, 44, 44);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 18px;

}

.specification-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}


/*-------------------------
    Our Sponsor Section
---------------------------*/
.sponsor-section{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.our-sponsor-info{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.our-sponsor-header{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.our-sponsor-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.sponsors{
    display: flex;
    gap: 130px;
}

.sponsors img{
    filter: grayscale(100%);
}


/*-----------------------
    Footer Section
------------------------- */
footer{
    margin-top:100px ;
    margin-bottom: 50px;
}
.copyright{
    width: 70%;
    height: 100px;
    margin: 0 auto;
    color: #424242;
    background: #FFF4E7;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}



/* ------------------
    Media Queries
--------------------- */

/* -----------------------
    For Small Devices
-------------------------- */
@media only screen and (max-width:576px) {

    /*-------------------
         Primary Button 
    ---------------------*/
    .primary-btn{
        font-size: 13px;
    }

    /*--------------------
         Header Nav
    ---------------------- */
    .nav-bar{
        width: 93%;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 30px;
        margin-bottom: 60px;
    }
    .company-name{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .nav-items{
        gap: 20px;
        font-size: 10px;
    }

    /*---------------------
        Banner Section
    ----------------------- */
    .banner-info{
        width: 100%;
    }


    .banner-header{
        font-size: 35px;
        margin-bottom: 20px;
    }

    .banner-description{
        padding: 0 10px;
    }

    .banner-info{
        margin-bottom: 20px ;
    }

    /*------------------------
        Our Future section
    --------------------------*/
    .our-future-section{
        flex-direction: column;
        gap: 30px;
    }

    .our-future-header{
        margin-top: 10px;
    }

    .our-future-header .dark-1,
    .our-future-header .dark-2,
    .our-future-header .orange-color {
        font-size: 33px;
    }

    .our-future-description{
        line-height:20px ;
        margin-bottom: 24px;
    }

    .our-future-img{
        gap: 5%;
    }


    .our-future-img img{
        width: 150px;
        
    }

    /*-----------------------
        Experience Section
    ------------------------- */
    .experience-section{
        flex-direction: column;
    }

    .experience-info{
        width: 100%;
    }

    .experience-img{
        width: 100%;
        text-align: center;
    }

    .experience-img img{
        margin-bottom: 30px;
        width: 100%;
    }

    .experience-btn{
        font-size: 40px;
        padding: 20px;
        position: inherit;
    }

    /*-------------------------
        Some Facts Section
    --------------------------- */
    .some-facts{
        width: 85%;
    }

    .some-facts-header{
        font-size: 35px;
    }

    .some-facts-description{
        width: 100%;
    }
    
    .our-acquirements{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-items: center;
        align-content: center;    
    }

    .our-acquire{
        width: 130px;
        height: 130px;
    }

    .our-acquire img{
        width: 20px;
    }
    .our-acquire h2{
        font-size: 30px;
    }

    .our-acquire p{
        font-size: 15px;
    }

    .our-acquire:hover{
        background-color: #f9f8f8;
        width: 150px;
        height: 150px;
        transform: rotate(360deg);
        border: 4px solid #fa6604;
    
    }

    /*-------------------------
        Specification Section
    ---------------------------*/
    .specifications-section{
        width: 80%;
    }
    .specifications-section-header{
        font-size: 30px;
    }

    .specification-boxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .specification-box{
        width: 90%;
        margin: 0 auto;
    }

    .specification-box img{
        width: 100%;
    }

    .specification-header{
        font-size: 18px;
    }

    /*------------------------
        Our Sponsor Section
    -------------------------- */
    .sponsor-section{
        width: 100%;
        margin-bottom: 80px;
    }

    .our-sponsor-info{
        width: 80%;
    }

    .sponsors{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .sponsors img{
        width: 90%;
        
        
    }

    .our-sponsor-header{
        font-size: 30px;
    }

    /*-------------------------
                Footer
    ----------------------------*/
    footer{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .copyright{
        width: 100%;
        text-align: center;

    }
}

/* -----------------
        Finally
-------------------- */


